<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Ristorante</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/login" *ngIf="!authService.isLoggedIn()">Login</a>
      <a class="nav-link" routerLink="/register" *ngIf="!authService.isLoggedIn()">Registrati</a>

      <a class="nav-link" routerLink="/mie-prenotazioni" *ngIf="authService.isLoggedIn()">
        <i class="fas fa-calendar-check me-1"></i>
        Le mie prenotazioni
      </a>

      <button class="btn btn-link nav-link" (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</button>
    </div>
  </div>
</nav>

